
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

a,
.list-group a{
    text-decoration: none;
    color: darkred;
}

.btn-secondary{
    background-color: lightgray;
    color: black;
    font-size: 11px;
    font-weight: 500;
}

.btn-success{
    font-size: 11px;
    font-weight: 500;
}

.btn-secondary a{
    color: black;
}

.top-button {
    margin: 5px;
    padding: 5px;
}

.btn-danger{
    font-size: 11px;
    font-weight: 500;
}

.btn-danger a{
    color:white;
}

#edit-prof{
    margin-top: 50px;
}

/*makes items(divs/blocks) display in a row*/
.wd-flex-row-container{
    display: flex;
    flex-direction: row;
}

.wd-navbar-container{
    min-height: 100%;
    background-color: black;
}

.wd-navbar-style{
    list-style-type: none;
    font-size: 13px;
    margin:0px;
    padding:0;
}

.wd-navbar-style li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 75px;
    height: 60px;
    text-align: center;
    background-color: black;
}

.wd-navbar-style a,
.wd-navbar-style i,
.wd-navbar-style span {
    display: block;
    color: white;
    margin: 5px;
    text-decoration: none;
}

.wd-navbar-style li:active,
.wd-navbar-style li:active a,
.wd-navbar-style li:active i,
.wd-navbar-style li:active span {
    background-color: white;
    color: darkred;
}

.wd-logo{
    width: 50px;
    height: 40px;
    margin: 5px;
}

.wd-links{
    list-style-type: none;
    font-size: 15px;
    color: darkred;
    margin:20px;
    padding: 10px;
    margin-top: 0px;
    width: 190px;
}

.wd-links a{
    text-decoration: none;
    color: darkred;
    padding: 8px;
    text-align: left;
}

.wd-links li{
    padding: 15px;
}

.wd-links li:active a {
    color: black;
    border-left: black solid 2px;
}

h2{
    font-size: 20px;
    font-weight: 500;
    padding: 9px;
    margin: 5px;
    margin-bottom: 0px;
}

h2#wd-name{
    font-size: 22px;
    font-weight: 400;
    margin-left: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

#wd-user-icon{
    margin: 20px;
    padding: 10px;
}

h3{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

    font-weight: 400;
}

.wd-active-link a{
    color: black;
    border-left: black solid 2px;
}

.wd-navbar-style li.wd-active-nav,
.wd-navbar-style li.wd-active-nav a,
.wd-navbar-style li.wd-active-nav span,
.wd-navbar-style li.wd-active-nav i{
    color: darkred;
    background-color: white;
}

.wd-description {
    font-size: 15px;
    font-weight: 250;
}

.wd-form {
    width:300px;
}

.form-label {
    margin: 5px;
}

#bio{
    width: 400px;
}

#wd-links-pos{
    width: 400px;
    margin-left: 0;
    padding-left: 5px;
}

#wd-cancel-save{
    margin-right: 50px;
    padding: 10px;
}

#wd-breadcrumb {
    border-bottom: grey solid 1px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#wd-modules{
    width: 670px;
}

.wd-mod-wrap{
    width: 450fpx
}