.wd-navbar-container{
    min-height: 100%;
    background-color: black;
}

.wd-navbar-style{
    list-style-type: none;
    font-size: 13px;
    margin:0px;
    padding:0;
}

.wd-navbar-style li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 80px;
    height: 70px;
    text-align: center;
    background-color: black;
}

.wd-navbar-style a,
.wd-navbar-style i,
.wd-navbar-style span{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.wd-list-group-item{
    padding: 5px;
    width: 80px;
    height: 70px;
    margin:0;
    text-align: center;
    background-color: black;

}

.wd-list-group-item.active{
    background-color: white;
    color: darkred;
}

.li:active{
    background-color: white;
    color: darkred;
}

.wd-navbar-style li:active,
.wd-navbar-style li:active a,
.wd-navbar-style li:active i,
.wd-navbar-style li:active span{
    background-color: white;
    color: darkred;
}

.wd-logo-list li:active,
.wd-logo-list li:active a {
    background-color: black;
}


.wd-logo{
    width: 70px;
    height: 70px;
    margin: 0;
}

.wd-logo-list{
    width: 80px;
    height: 80px;
}


.wd-non-active-icon{
    color: white;
}
