.wd-navbar-container{
    min-height: 100vh;
    background-color: black;
}

.wd-navbar-style{
    list-style-type: none;
    font-size: 13px;
    margin:0px;
    padding:0;
}

.wd-navbar-style li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 85px;
    height: 60px;
    text-align: center;
    background-color: black;
}

.wd-navbar-style a,
.wd-navbar-style i,
.wd-navbar-style span{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.list-group-item{
    padding: 5px;
    width: 85px;
    height: 70px;
    margin:0;
    text-align: center;
    background-color: black;
}

.list-group-item.active{
    background-color: white;
    color: darkred;
}

.li:active{
    background-color: white;
    color: darkred;
}

.wd-navbar-style li:active,
.wd-navbar-style li:active a,
.wd-navbar-style li:active i,
.wd-navbar-style li:active span{
    background-color: white;
    color: darkred;
}

.wd-logo-list li:active,
.wd-logo-list li:active a {
    background-color: black;
}


.wd-logo{
    width: 80px;
    height: 80px;
    margin: 0;
}

.wd-logo-list{
    width: 85px;
    height: 85px;
}


.wd-links{
    list-style-type: none;
    font-size: 15px;
    color: darkred;
    margin:20px;
    padding: 10px;
    margin-top: 0px;
    width: 190px;
}

.wd-links a{
    text-decoration: none;
    color: darkred;
    padding: 8px;
    text-align: left;
}

.wd-links li{
    padding: 15px;
}

.wd-links li:active a {
    color: black;
    border-left: black solid 2px;
}

.wd-non-active-icon{
    color: white;
}
